.tableEditor {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 95%; BORDER-RIGHT-WIDTH: 1px
}
.tableEditor DIV {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BACKGROUND: url(../images/redbv_lite_bg.gif) repeat-x left bottom; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid
}
.tableEditor DIV .title {
	FONT-WEIGHT: bold; FLOAT: left
}
.tableEditor DIV .toolbar {
	FLOAT: right
}
.tableEditor TABLE {
	CLEAR: left; BACKGROUND-COLOR: #fff
}
.tableEditor THEAD {
	
}
.tableEditor TH {
	TEXT-ALIGN: left
}
.tableEditor TH {
	PADDING-RIGHT: 2px; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.tableEditor TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.tableEditor .banded .band {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid; BACKGROUND-COLOR: #f7f7f7
}
.btn {
	FONT-SIZE: 10px; BACKGROUND: url(../images/headerBG.gif) #f0f0f0 fixed repeat-x left top; MARGIN: 0px 0px 0px 2px; COLOR: #333333; HEIGHT: 20px
}
.tableEditor .inputBox2 {
	FONT-SIZE: 10px; COLOR: #666; FONT-FAMILY: Arial,Verdana; HEIGHT: 14px
}
.totals {
	FONT-WEIGHT: bold
}
.totals TD {
	TEXT-ALIGN: right
}
