<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<bean id="groupInvitationService"
		class="com.topcoder.security.groups.actions.MockGroupInvitationServiceImpl">
	</bean>



	<bean id="logger" class="com.topcoder.util.log.log4j.Log4jLog">
		<constructor-arg type="java.lang.String"
			value="com.topcoder.security.groups.actions.DemoLog" />
		<constructor-arg type="boolean" value="false" />
	</bean>
	<bean id="criteria" class="com.topcoder.security.groups.services.dto.InvitationSearchCriteria">
		<property name="permissions">
			 <list>
			 	<value type="com.topcoder.security.groups.model.GroupPermissionType">FULL</value>
   			</list>
		</property>
	</bean>

	<bean id="ViewInvitationStatusAction"
		class="com.topcoder.security.groups.actions.ViewInvitationStatusAction">
		<property name="logger" ref="logger" />
		<property name="criteria" ref="criteria" />
		<property name="groupInvitationService" ref="groupInvitationService" />
	</bean>


</beans>
