.coderTextRed {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: transparent
}
.coderTextYellow {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: transparent
}
.coderTextBlue {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: transparent
}
.coderTextGreen {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: transparent
}
.coderTextGray {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: transparent
}
.coderTextOrange {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: transparent
}
.coderTextRed:link {
	TEXT-DECORATION: none
}
.coderTextYellow:link {
	TEXT-DECORATION: none
}
.coderTextBlue:link {
	TEXT-DECORATION: none
}
.coderTextGreen:link {
	TEXT-DECORATION: none
}
.coderTextGray:link {
	TEXT-DECORATION: none
}
.coderTextOrange:link {
	TEXT-DECORATION: none
}
.coderTextWhite:link {
	TEXT-DECORATION: none
}
.coderTextBlack:link {
	TEXT-DECORATION: none
}
.coderTextRed:visited {
	TEXT-DECORATION: none
}
.coderTextYellow:visited {
	TEXT-DECORATION: none
}
.coderTextBlue:visited {
	TEXT-DECORATION: none
}
.coderTextGreen:visited {
	TEXT-DECORATION: none
}
.coderTextGray:visited {
	TEXT-DECORATION: none
}
.coderTextOrange:visited {
	TEXT-DECORATION: none
}
.coderTextWhite:visited {
	TEXT-DECORATION: none
}
.coderTextBlack:visited {
	TEXT-DECORATION: none
}
.coderTextRed:hover {
	TEXT-DECORATION: underline
}
.coderTextYellow:hover {
	TEXT-DECORATION: underline
}
.coderTextBlue:hover {
	TEXT-DECORATION: underline
}
.coderTextGreen:hover {
	TEXT-DECORATION: underline
}
.coderTextGray:hover {
	TEXT-DECORATION: underline
}
.coderTextOrange:hover {
	TEXT-DECORATION: underline
}
.coderTextWhite:hover {
	TEXT-DECORATION: underline
}
.coderTextBlack:hover {
	TEXT-DECORATION: underline
}
.coderTextRed:active {
	TEXT-DECORATION: underline
}
.coderTextYellow:active {
	TEXT-DECORATION: underline
}
.coderTextBlue:active {
	TEXT-DECORATION: underline
}
.coderTextGreen:active {
	TEXT-DECORATION: underline
}
.coderTextGray:active {
	TEXT-DECORATION: underline
}
.coderTextOrange:active {
	TEXT-DECORATION: underline
}
.coderTextWhite:active {
	TEXT-DECORATION: underline
}
.coderTextBlack:active {
	TEXT-DECORATION: underline
}
.coderTextOrange {
	COLOR: #ff9900
}
.coderTextOrange:link {
	COLOR: #ff9900
}
.coderTextOrange:visited {
	COLOR: #ff9900
}
.coderTextOrange:hover {
	COLOR: #ff9900
}
.coderTextOrange:active {
	COLOR: #ff9900
}
.coderTextRed {
	COLOR: #ee0000
}
.coderTextRed:link {
	COLOR: #ee0000
}
.coderTextRed:visited {
	COLOR: #ee0000
}
.coderTextRed:hover {
	COLOR: #ee0000
}
.coderTextRed:active {
	COLOR: #ee0000
}
.coderTextYellow {
	COLOR: #ddcc00
}
.coderTextYellow:link {
	COLOR: #ddcc00
}
.coderTextYellow:visited {
	COLOR: #ddcc00
}
.coderTextYellow:hover {
	COLOR: #ddcc00
}
.coderTextYellow:active {
	COLOR: #ddcc00
}
.coderTextBlue {
	COLOR: #6666ff
}
.coderTextBlue:link {
	COLOR: #6666ff
}
.coderTextBlue:visited {
	COLOR: #6666ff
}
.coderTextBlue:hover {
	COLOR: #6666ff
}
.coderTextBlue:active {
	COLOR: #6666ff
}
.coderTextGreen {
	COLOR: #00a900
}
.coderTextGreen:link {
	COLOR: #00a900
}
.coderTextGreen:visited {
	COLOR: #00a900
}
.coderTextGreen:hover {
	COLOR: #00a900
}
.coderTextGreen:active {
	COLOR: #00a900
}
.coderTextGray {
	COLOR: #999999
}
.coderTextGray:link {
	COLOR: #999999
}
.coderTextGray:visited {
	COLOR: #999999
}
.coderTextGray:hover {
	COLOR: #999999
}
.coderTextGray:active {
	COLOR: #999999
}
.coderTextWhite {
	COLOR: #ffffff
}
.coderTextWhite:link {
	COLOR: #ffffff
}
.coderTextWhite:visited {
	COLOR: #ffffff
}
.coderTextWhite:hover {
	COLOR: #ffffff
}
.coderTextWhite:active {
	COLOR: #ffffff
}
.coderTextBlack {
	COLOR: #000000
}
.coderTextBlack:link {
	COLOR: #000000
}
.coderTextBlack:visited {
	COLOR: #000000
}
.coderTextBlack:hover {
	COLOR: #000000
}
.coderTextBlack:active {
	COLOR: #000000
}
