<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration
          PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--
        <property name="show_sql">true</property>
        -->
        
        <!--
        <property name="connection.url">jdbc:informix-sqli://192.168.1.2:1526/client:informixserver=topcoder</property>
        <property name="connection.username">informix</property>
        <property name="connection.password">810814</property>
        <property name="connection.driver_class">com.informix.jdbc.IfxDriver</property>
        -->
        <property name="connection.datasource">java:/InformixDS</property>
        <property name="dialect">org.hibernate.dialect.InformixDialect</property>
        <property name="hbm2ddl.auto">create-drop</property>
        
        
        <mapping resource="com/topcoder/controlpanel/clientassociations/dao/hibernate/Client.hbm.xml"/>
        <mapping resource="com/topcoder/controlpanel/clientassociations/dao/hibernate/CompClient.hbm.xml"/>
        <mapping resource="com/topcoder/controlpanel/clientassociations/dao/hibernate/UserClient.hbm.xml"/>
    </session-factory>
</hibernate-configuration>