HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333333; LINE-HEIGHT: 1.4; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif; BACKGROUND-COLOR: #ffffff
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333333; LINE-HEIGHT: 1.4; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif; BACKGROUND-COLOR: #ffffff
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
A:link {
	COLOR: #00f; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #006; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #f00
}
A:active {
	COLOR: #f00
}
UL {
	PADDING-LEFT: 10px; MARGIN-LEFT: 10px
}
LI {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.noSpace {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE {
	empty-cells: show
}
TD {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 1.4; FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif; TEXT-DECORATION: none
}
TH {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 1.4; FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif; TEXT-DECORATION: none
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif; TEXT-DECORATION: none
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif; TEXT-DECORATION: none
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif; TEXT-DECORATION: none
}
H1 {
	FONT-SIZE: 24px
}
H2 {
	FONT-SIZE: 18px
}
H3 {
	FONT-SIZE: 14px
}
H1 A:link {
	TEXT-DECORATION: none
}
H2 A:link {
	TEXT-DECORATION: none
}
H3 A:link {
	TEXT-DECORATION: none
}
H1 A:visited {
	TEXT-DECORATION: none
}
H2 A:visited {
	TEXT-DECORATION: none
}
H3 A:visited {
	TEXT-DECORATION: none
}
H1 A:hover {
	TEXT-DECORATION: underline
}
H2 A:hover {
	TEXT-DECORATION: underline
}
H3 A:hover {
	TEXT-DECORATION: underline
}
H1 A:active {
	TEXT-DECORATION: underline
}
H2 A:active {
	TEXT-DECORATION: underline
}
H3 A:active {
	TEXT-DECORATION: underline
}
DIV.topBar {
	FONT-SIZE: 11px; COLOR: #ffffff
}
DIV.topBar DIV {
	FONT-SIZE: 11px; COLOR: #ffffff
}
DIV.memberCountBox {
	FONT-SIZE: 11px; COLOR: #ffffff
}
DIV.memberCountBox {
	Z-INDEX: 1; LEFT: 3px; POSITION: absolute; TOP: 5px
}
DIV.topBar {
	PADDING-RIGHT: 10px; PADDING-LEFT: 3px; BACKGROUND: url(/i/interface/top_bg.gif) repeat-x center top; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px; WHITE-SPACE: nowrap; HEIGHT: 84px
}
#outerLogo {
	Z-INDEX: 2; WIDTH: 360px; POSITION: relative
}
#innerLogo {
	LEFT: 0px; POSITION: absolute
}
#shortcutBar {
	PADDING-RIGHT: 30px; BACKGROUND: url(/i/interface/shortcutBar.png) no-repeat right top; LEFT: 0px; POSITION: absolute; TOP: 32px; HEIGHT: 30px
}
#shortcutBar DIV.icon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; MARGIN-LEFT: 4px
}
.small {
	FONT-SIZE: 10px
}
A.prevNext:link {
	COLOR: #00f; TEXT-DECORATION: none
}
A.prevNext:visited {
	COLOR: #006; TEXT-DECORATION: none
}
A.prevNext:hover {
	COLOR: #f00
}
A:active {
	COLOR: #f00
}
.footer {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND: #eeeeee; PADDING-BOTTOM: 5px; COLOR: #666666; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 4px solid; FONT-STYLE: normal; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
.footerStripe {
	BACKGROUND: #ccc
}
A.footerLinks:link {
	COLOR: #00f; TEXT-DECORATION: none
}
A.footerLinks:visited {
	COLOR: #006; TEXT-DECORATION: none
}
A.footerLinks:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
A.footerLinks:active {
	COLOR: #f00; TEXT-DECORATION: underline
}
.copyright {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; BACKGROUND: #fff; PADDING-BOTTOM: 15px; COLOR: #000; PADDING-TOP: 4px; FONT-STYLE: normal; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
TABLE.pageTitleTable {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 5px 0px 15px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.pageTitleTable TD.pageTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: #666666 1px solid; WHITE-SPACE: nowrap; TEXT-ALIGN: left
}
TABLE.pageTitleTable TD.pageSubtitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; MARGIN: 0px; VERTICAL-ALIGN: bottom; COLOR: #333333; PADDING-TOP: 0px; BORDER-BOTTOM: #666666 1px solid; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
DIV.linkBox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-SIZE: 11px; FLOAT: right; PADDING-BOTTOM: 20px; LINE-HEIGHT: normal; PADDING-TOP: 0px; WHITE-SPACE: nowrap; TEXT-ALIGN: left
}
DIV.linkBox A:link {
	TEXT-DECORATION: none
}
DIV.linkBox A:visited {
	TEXT-DECORATION: none
}
DIV.linkBox A:hover {
	TEXT-DECORATION: underline
}
DIV.linkBox A:active {
	TEXT-DECORATION: underline
}
.invisible {
	DISPLAY: none
}
DIV.authorPhoto {
	FLOAT: left; MARGIN-BOTTOM: 10px
}
DIV.authorPhoto IMG {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; WIDTH: 55px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 61px
}
DIV.authorText {
	FLOAT: left; MARGIN: 12px 8px 10px 0px; HEIGHT: 49px
}
DIV.authorText EM {
	FONT-SIZE: 11px
}
DIV.popUp {
	DISPLAY: none; Z-INDEX: 100; LEFT: 0px; POSITION: absolute; TOP: 0px
}
DIV.popUp DIV {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 6px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND: #ffffcc; FLOAT: left; PADDING-BOTTOM: 4px; BORDER-LEFT: #999999 1px solid; LINE-HEIGHT: normal; PADDING-TOP: 4px; BORDER-BOTTOM: #999999 1px solid; WHITE-SPACE: nowrap
}
.bodyText {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #333333; FONT-STYLE: normal
}
SPAN.title {
	FONT-WEIGHT: bold; FONT-SIZE: 160%; TEXT-DECORATION: none
}
SPAN.subtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
SPAN.bodySubtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.bigRed {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.bigRed:link {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.bigRed:visited {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.bigRed:active {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.bigRed:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.bigGreen {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #009900; TEXT-DECORATION: none
}
A.bigGreen:link {
	COLOR: #009900; TEXT-DECORATION: underline
}
A.bigGreen:visited {
	COLOR: #009900; TEXT-DECORATION: underline
}
A.bigGreen:active {
	COLOR: #009900; TEXT-DECORATION: underline
}
A.bigGreen:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.grayedOut {
	COLOR: #999999
}
TD.bodyColumn {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 40px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
DIV.fixedWidthBody {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 510px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
DIV.fixedWidth700Body {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 700px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
DIV.maxWidthBody {
	; WIDTH: expression( document . body . clientWidth > 1024 ? "650px": "auto" ); max-width: 650px
}
DIV.sectionHeader {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(/i/stats/headerBG.gif) #999999 center top; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 3px; BORDER-LEFT: #999999 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #999999 1px solid; WHITE-SPACE: nowrap; TEXT-ALIGN: left; TEXT-DECORATION: none
}
DIV.bodyIndented {
	PADDING-LEFT: 15px
}
A.button {
	PADDING-RIGHT: 6px; DISPLAY: block; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; MARGIN: 0px; LINE-HEIGHT: normal; PADDING-TOP: 3px; WHITE-SPACE: nowrap; TEXT-ALIGN: center; TEXT-DECORATION: none
}
DIV.button {
	PADDING-RIGHT: 6px; DISPLAY: block; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; MARGIN: 0px; LINE-HEIGHT: normal; PADDING-TOP: 3px; WHITE-SPACE: nowrap; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.button:link {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BACKGROUND: url(/i/interface/buttonBg.png) #d2d2d2 center top; BORDER-LEFT: #999999 1px solid; COLOR: #333333; BORDER-BOTTOM: #999999 1px solid; TEXT-DECORATION: none
}
A.button:visited {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BACKGROUND: url(/i/interface/buttonBg.png) #d2d2d2 center top; BORDER-LEFT: #999999 1px solid; COLOR: #333333; BORDER-BOTTOM: #999999 1px solid; TEXT-DECORATION: none
}
A.button:hover {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BACKGROUND: url(/i/interface/buttonBg_on.png) #6a6a6a center top; BORDER-LEFT: #999999 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #999999 1px solid; TEXT-DECORATION: none
}
A.button:active {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BACKGROUND: url(/i/interface/buttonBg_on.png) #6a6a6a center top; BORDER-LEFT: #999999 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #999999 1px solid; TEXT-DECORATION: none
}
DIV.button {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BACKGROUND: url(/i/interface/buttonBg_off.png) #eeeeee center top; BORDER-LEFT: #cccccc 1px solid; COLOR: #bbbbbb; BORDER-BOTTOM: #cccccc 1px solid
}
A.bigButton {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 4px; MARGIN: 0px; LINE-HEIGHT: normal; PADDING-TOP: 4px; WHITE-SPACE: nowrap; TEXT-ALIGN: center; TEXT-DECORATION: none
}
DIV.bigButton {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 4px; MARGIN: 0px; LINE-HEIGHT: normal; PADDING-TOP: 4px; WHITE-SPACE: nowrap; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.bigButton:link {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BACKGROUND: url(/i/interface/buttonBg.png) #d2d2d2 center top; BORDER-LEFT: #999999 1px solid; COLOR: #333333; BORDER-BOTTOM: #999999 1px solid; TEXT-DECORATION: none
}
A.bigButton:visited {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BACKGROUND: url(/i/interface/buttonBg.png) #d2d2d2 center top; BORDER-LEFT: #999999 1px solid; COLOR: #333333; BORDER-BOTTOM: #999999 1px solid; TEXT-DECORATION: none
}
A.bigButton:hover {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BACKGROUND: url(/i/interface/buttonBg_on.png) #6a6a6a center top; BORDER-LEFT: #999999 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #999999 1px solid; TEXT-DECORATION: none
}
A.bigButton:active {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BACKGROUND: url(/i/interface/buttonBg_on.png) #6a6a6a center top; BORDER-LEFT: #999999 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #999999 1px solid; TEXT-DECORATION: none
}
DIV.bigButton {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BACKGROUND: url(/i/interface/buttonBg_off.png) #eeeeee center top; BORDER-LEFT: #cccccc 1px solid; COLOR: #bbbbbb; BORDER-BOTTOM: #cccccc 1px solid; TEXT-DECORATION: none
}
SPAN.selected {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 4px; BACKGROUND: #efefef; PADDING-BOTTOM: 0px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid
}
TABLE.stat {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: #999999 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 7px solid
}
TABLE.stat TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; LINE-HEIGHT: normal; PADDING-TOP: 2px
}
TABLE.stat TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; LINE-HEIGHT: normal; PADDING-TOP: 2px
}
TABLE.stat TH.title {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/i/stats/headerBG.gif); BORDER-BOTTOM: #999999 1px solid; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #999999; TEXT-ALIGN: left; TEXT-DECORATION: none
}
TABLE.stat TD.title {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/i/stats/headerBG.gif); BORDER-BOTTOM: #999999 1px solid; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #999999; TEXT-ALIGN: left; TEXT-DECORATION: none
}
TABLE.stat TH {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; COLOR: #000000; BACKGROUND-COLOR: #e5e5e5
}
TABLE.stat TD.header {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; COLOR: #000000; BACKGROUND-COLOR: #e5e5e5
}
TABLE.stat TD.headerC {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; COLOR: #000000; BACKGROUND-COLOR: #e5e5e5
}
TABLE.stat TD.headerR {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; COLOR: #000000; BACKGROUND-COLOR: #e5e5e5
}
TABLE.stat TR.light TD {
	BACKGROUND-COLOR: #f5f5f5
}
TABLE.stat TR.dark TD {
	BACKGROUND-COLOR: #efefef
}
TABLE.stat TD.value {
	BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 11px; VERTICAL-ALIGN: top
}
TABLE.stat TD.valueC {
	BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 11px; VERTICAL-ALIGN: top
}
TABLE.stat TD.valueR {
	BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 11px; VERTICAL-ALIGN: top
}
TABLE.stat TD.field {
	BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 11px; VERTICAL-ALIGN: top
}
TABLE.stat TD.headerC {
	TEXT-ALIGN: center
}
TABLE.stat TD.valueC {
	TEXT-ALIGN: center
}
TABLE.stat TD.headerR {
	TEXT-ALIGN: right
}
TABLE.stat TD.valueR {
	TEXT-ALIGN: right
}
TABLE.stat TD.field {
	FONT-WEIGHT: bold; COLOR: #000000
}
TABLE.stat A:link {
	TEXT-DECORATION: none
}
TABLE.stat A:visited {
	TEXT-DECORATION: none
}
TABLE.stat A:hover {
	TEXT-DECORATION: underline
}
TABLE.stat A:active {
	TEXT-DECORATION: underline
}
TABLE.stat TR.highlight TD {
	BORDER-TOP: #0000ff 1px solid; FONT-WEIGHT: bold; BORDER-BOTTOM: #0000ff 1px solid; BACKGROUND-COLOR: #eeeeff
}
TABLE.stat TD.B {
	BORDER-RIGHT: #999999 1px solid
}
TABLE.stat TD.M {
	VERTICAL-ALIGN: middle
}
TABLE.stat TD.NW {
	WHITE-SPACE: nowrap
}
TABLE.stat TBODY.show {
	
}
TABLE.stat TBODY.hide {
	DISPLAY: none
}
#navbar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(/i/interface/leftnav_bg.gif) #353e44 repeat-y right center; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 185px; PADDING-TOP: 0px
}
DIV.leftColContent {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(/i/interface/leftnav_bg.gif) #353e44 repeat-y right center; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 185px; PADDING-TOP: 0px
}
#navbar UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#navbar UL LI.title {
	PADDING-RIGHT: 4px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: right
}
#navbar UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 182px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#navbar UL LI UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
#navbar UL.OPEN {
	DISPLAY: block; PADDING-BOTTOM: 8px
}
#navbar UL.CLOSED {
	DISPLAY: none; PADDING-BOTTOM: 0px
}
#navbar LI.highlight A:link {
	COLOR: #ffffff; BACKGROUND-COLOR: #990000
}
#navbar LI.highlight A:visited {
	COLOR: #ffffff; BACKGROUND-COLOR: #990000
}
#navbar LI.highlight A:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #990000
}
#navbar LI.exp LI A:link {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp LI A:visited {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp LI A:hover {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp LI A:active {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp LI LI A:link {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp LI LI A:visited {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp LI LI A:hover {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp LI LI A:active #navbar LI.exp LI LI LI A:link {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp LI LI LI A:visited {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp LI LI LI A:hover {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp LI LI LI A:active {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI A:link {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI A:visited {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI A:hover {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI A:active {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI LI A:link {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI LI A:visited {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI LI A:hover {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI LI A:active {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI LI LI A:link {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI LI LI A:visited {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI LI LI A:hover {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI LI LI A:active {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp A:link {
	BACKGROUND-POSITION: 1px 50%; BACKGROUND-IMAGE: url(/i/interface/exp.gif); BACKGROUND-REPEAT: no-repeat
}
#navbar LI.exp A:visited {
	BACKGROUND-POSITION: 1px 50%; BACKGROUND-IMAGE: url(/i/interface/exp.gif); BACKGROUND-REPEAT: no-repeat
}
#navbar LI LI.exp A:link {
	BACKGROUND-POSITION: 1px 50%; BACKGROUND-IMAGE: url(/i/interface/exp.gif); BACKGROUND-REPEAT: no-repeat
}
#navbar LI LI.exp A:visited {
	BACKGROUND-POSITION: 1px 50%; BACKGROUND-IMAGE: url(/i/interface/exp.gif); BACKGROUND-REPEAT: no-repeat
}
#navbar LI LI LI.exp A:link {
	BACKGROUND-POSITION: 1px 50%; BACKGROUND-IMAGE: url(/i/interface/exp.gif); BACKGROUND-REPEAT: no-repeat
}
#navbar LI LI LI.exp A:visited {
	BACKGROUND-POSITION: 1px 50%; BACKGROUND-IMAGE: url(/i/interface/exp.gif); BACKGROUND-REPEAT: no-repeat
}
#navbar LI.exp A:hover {
	BACKGROUND-IMAGE: url(/i/interface/exp_w.gif)
}
#navbar LI LI.exp A:hover {
	BACKGROUND-IMAGE: url(/i/interface/exp_w.gif)
}
#navbar LI LI LI.exp A:hover {
	BACKGROUND-IMAGE: url(/i/interface/exp_w.gif)
}
#navbar LI.exp_ed A:link {
	BACKGROUND-POSITION: 1px 50%; BACKGROUND-IMAGE: url(/i/interface/exp_ed.gif); BACKGROUND-REPEAT: no-repeat
}
#navbar LI.exp_ed A:visited {
	BACKGROUND-POSITION: 1px 50%; BACKGROUND-IMAGE: url(/i/interface/exp_ed.gif); BACKGROUND-REPEAT: no-repeat
}
#navbar LI LI.exp_ed A:link {
	BACKGROUND-POSITION: 1px 50%; BACKGROUND-IMAGE: url(/i/interface/exp_ed.gif); BACKGROUND-REPEAT: no-repeat
}
#navbar LI LI.exp_ed A:visited {
	BACKGROUND-POSITION: 1px 50%; BACKGROUND-IMAGE: url(/i/interface/exp_ed.gif); BACKGROUND-REPEAT: no-repeat
}
#navbar LI LI LI.exp_ed A:link {
	BACKGROUND-POSITION: 1px 50%; BACKGROUND-IMAGE: url(/i/interface/exp_ed.gif); BACKGROUND-REPEAT: no-repeat
}
#navbar LI LI LI.exp_ed A:visited {
	BACKGROUND-POSITION: 1px 50%; BACKGROUND-IMAGE: url(/i/interface/exp_ed.gif); BACKGROUND-REPEAT: no-repeat
}
#navbar LI.exp_ed A:hover {
	BACKGROUND-IMAGE: url(/i/interface/exp_ed_w.gif)
}
#navbar LI LI.exp_ed A:hover {
	BACKGROUND-IMAGE: url(/i/interface/exp_ed_w.gif)
}
#navbar LI LI LI.exp_ed A:hover {
	BACKGROUND-IMAGE: url(/i/interface/exp_ed_w.gif)
}
#navbar LI A:link {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 0px 15px 0px 0px; COLOR: #ffcc33; LINE-HEIGHT: 100%; PADDING-TOP: 3px; TEXT-DECORATION: none
}
#navbar LI A:visited {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 0px 15px 0px 0px; COLOR: #ffcc33; LINE-HEIGHT: 100%; PADDING-TOP: 3px; TEXT-DECORATION: none
}
#navbar LI LI A:link {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; MARGIN: 0px 15px 0px 5px; COLOR: #dddddd; PADDING-TOP: 5px
}
#navbar LI LI A:visited {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; MARGIN: 0px 15px 0px 5px; COLOR: #dddddd; PADDING-TOP: 5px
}
#navbar LI LI LI A:link {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; MARGIN: 0px 15px 0px 12px; COLOR: #bbbbbb; PADDING-TOP: 5px
}
#navbar LI LI LI A:visited {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; MARGIN: 0px 15px 0px 12px; COLOR: #bbbbbb; PADDING-TOP: 5px
}
#navbar LI LI LI LI A:link {
	FONT-SIZE: 11px; MARGIN: 0px 15px 0px 20px; COLOR: #999999
}
#navbar LI LI LI LI A:visited {
	FONT-SIZE: 11px; MARGIN: 0px 15px 0px 20px; COLOR: #999999
}
#navbar LI A:hover {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
#navbar LI LI A:hover {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
#navbar LI LI LI A:hover {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
#navbar LI LI LI LI A:hover {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
#navbarSearch {
	CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 10px 3px; COLOR: #ffffff; PADDING-TOP: 5px; WHITE-SPACE: nowrap
}
A.gMetal:link {
	COLOR: #ffcc33; TEXT-DECORATION: none
}
A.gMetal:visited {
	COLOR: #cc9933; TEXT-DECORATION: none
}
A.gMetal:hover {
	COLOR: #aaaaaa; TEXT-DECORATION: underline
}
A.gMetal:active {
	COLOR: #aaaaaa; TEXT-DECORATION: underline
}
DIV.leftColContent {
	COLOR: #ffffff
}
DIV.leftColContent TD {
	COLOR: #ffffff
}
DIV.rightColContent {
	WIDTH: 170px
}
.problemText {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Courier, Courier New, sans-serif; TEXT-DECORATION: none
}
.bc {
	FONT-SIZE: 11px; COLOR: #333333; FONT-STYLE: normal
}
A.bcLink:link {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A.bcLink:visited {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A.bcLink:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.bcLink:active {
	COLOR: #0000ff; TEXT-DECORATION: none
}
