<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app> 
    <servlet> 
        <servlet-name>ajaxBridge</servlet-name>
        <servlet-class>com.topcoder.widgets.bridge.AjaxBridgeServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
		<init-param>
			<param-name>ajaxBridgeConfigFile</param-name>
			<param-value>com/topcoder/configuration/persistence/ConfigurationFileManager.properties</param-value>
		</init-param>
		<init-param>
			<param-name>objectFactoryNamespace</param-name>
			<param-value>com.topcoder.widgets.objectfactory</param-value>
		</init-param>
		<init-param>
			<param-name>jsonEncoderKey</param-name>
			<param-value>jsonEncoder</param-value>
		</init-param>
		<init-param>
			<param-name>jsonDecoderKey</param-name>
			<param-value>jsonDecoder</param-value>
		</init-param>
		<init-param>
			<param-name>projectServiceKey</param-name>
			<param-value>projectService</param-value>
		</init-param>
		<init-param>
			<param-name>prerequisiteServiceKey</param-name>
			<param-value>prerequisiteService</param-value>
		</init-param>
		<init-param>
			<param-name>studioServiceKey</param-name>
			<param-value>studioService</param-value>
		</init-param>
		<init-param>
			<param-name>loggerName</param-name>
			<param-value>com.topcoder.widget.AjaxBridgeServlet</param-value>
		</init-param>
		<init-param>
			<param-name>fileUploadNamespace</param-name>			
			<param-value>com.topcoder.servlet.request</param-value>
		</init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>ajaxBridge</servlet-name>
        <url-pattern>/ajaxBridge</url-pattern>
    </servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
