<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING/DTD BEAN/EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName">
            <value>com.informix.jdbc.IfxDriver</value>
        </property>
        <property name="url">
            <value>jdbc:informix-sqli://192.168.1.114:1526/stage:informixserver=ol_topcoder</value>
        </property>
        <property name="username">
            <value>informix</value>
        </property>
        <property name="password">
            <value>system</value>
        </property>
    </bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
		<property name="mappingLocations">
            <list>
                <value>test_files/accuracytests/Project.hbm.xml</value>
				<value>test_files/accuracytests/ProjectCategoryLookup.hbm.xml</value>
				<value>test_files/accuracytests/ProjectGroupCategoryLookup.hbm.xml</value>
				<value>test_files/accuracytests/ProjectCatalogLookup.hbm.xml</value>
				<value>test_files/accuracytests/ProjectInfo.hbm.xml</value>
				<value>test_files/accuracytests/Upload.hbm.xml</value>
				<value>test_files/accuracytests/Submission.hbm.xml</value>
				<value>test_files/accuracytests/Resource.hbm.xml</value>
				<value>test_files/accuracytests/ProjectPhase.hbm.xml</value>
				<value>test_files/accuracytests/ContestEligibility.hbm.xml</value>
				<value>test_files/accuracytests/ResourceSubmission.hbm.xml</value>
				<value>test_files/accuracytests/ProjectResult.hbm.xml</value>
				<value>test_files/accuracytests/ResourceInfo.hbm.xml</value>
				<value>test_files/accuracytests/PhaseType.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.InformixDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

	<bean id="hibernateTemplateBean" class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
	</bean>

</beans>