<?xml version="1.0"?>
<CMConfig>

  <Config name="stress">
		<property name="username">
			<value>tcsdeveloper</value>
		</property>
		<property name="password">
			<value>TCSDEVELOPER</value>
		</property>
		<property name="confluence_url">
		   <value>http://localhost:8080/rpc/soap/confluenceservice-v1</value>
		</property>
		</Config>
</CMConfig>