<?xml version="1.0"?>
<CMConfig>
	<Config name="com.topcoder.util.dependency.report.utility.DependencyReportGeneratorUtility">
		<property name="persistence_class">
			<value>com.topcoder.util.dependency.persistence.DefaultXmlDependenciesEntryPersistence</value>
		</property>
		<property name="persistence_config">
		    <property name="file_name">
		    	<value>test_files/dependenciesInput.xml</value>
		    </property>
        </property>		
		<property name="generator_class">
			<value>com.topcoder.util.dependency.report.impl.XmlDependencyReportGenerator</value>
		</property>
	    <property name="generator_config">
		    <property name="dependency_types">
		    	<value>internal;external</value>
		    </property>
		    <property name="dependency_categories">
		    	<value>compile;test</value>
		    </property>
		    <property name="include_dependency_type">
		    	<value>true</value>
		    </property>
		    <property name="include_dependency_category">
		    	<value>true</value>
		    </property>
		    <property name="include_dependency_path">
		    	<value>true</value>
		    </property>
	    </property>
		<property name="stdout">
			<value>true</value>
		</property>
		<property name="report_file_name">
			<value>test_files/report.xml</value>
		</property>
		<property name="indirect">
			<value>true</value>
		</property>
    </Config>
</CMConfig>