<CMConfig>
  <Config name="com.orpheus.administration.persistence.impl.SQLServerAdminDataDAO">
    <Property name="specNamespace">
      <Value>object.factory.namespace</Value>
    </Property>
    <Property name="factoryKey">
      <Value>connectionFactory</Value>
    </Property>
    <Property name="adminFee">
      <Value>0.15</Value>
    </Property>
  </Config>

  <Config name="com.orpheus.administration.persistence.impl.SQLServerMessageDAO">
    <Property name="specNamespace">
      <Value>object.factory.namespace</Value>
    </Property>
    <Property name="factoryKey">
      <Value>connectionFactory</Value>
    </Property>
    <Property name="searchNamespace">
      <Value>search.namespace</Value>
    </Property>
    <Property name="searchBundle">
      <Value>bundle</Value>
    </Property>
  </Config>

  <Config name="db.search.strategy">
    <Property name="connectionFactory">
      <Property name="name">
        <Value>com.topcoder.db.connectionfactory.DBConnectionFactoryImpl</Value>
      </Property>
    </Property>
    <Property name="searchFragmentFactoryNamespace">
      <Value>search.fragment.factory</Value>
    </Property>
    <Property name="searchFragmentBuilders">
      <Property name="first">
        <Property name="targetFilter">
          <Value>com.topcoder.search.builder.filter.AndFilter</Value>
        </Property>
        <Property name="className">
          <Value>com.topcoder.search.builder.database.AndFragmentBuilder</Value>
        </Property>
      </Property>
      <Property name="second">
        <Property name="targetFilter">
          <Value>com.topcoder.search.builder.filter.OrFilter</Value>
        </Property>
        <Property name="className">
          <Value>com.topcoder.search.builder.database.OrFragmentBuilder</Value>
        </Property>
      </Property>
      <Property name="third">
        <Property name="targetFilter">
          <Value>com.topcoder.search.builder.filter.LikeFilter</Value>
        </Property>
        <Property name="className">
          <Value>com.topcoder.search.builder.database.LikeFragmentBuilder</Value>
        </Property>
      </Property>
      <Property name="fourth">
        <Property name="targetFilter">
          <Value>com.topcoder.search.builder.filter.NotFilter</Value>
        </Property>
        <Property name="className">
          <Value>com.topcoder.search.builder.database.NotFragmentBuilder</Value>
        </Property>
      </Property>
      <Property name="fifth">
        <Property name="targetFilter">
          <Value>com.topcoder.search.builder.filter.EqualToFilter</Value>
        </Property>
        <Property name="className">
          <Value>com.topcoder.search.builder.database.EqualsFragmentBuilder</Value>
        </Property>
      </Property>
      <Property name="sixth">
        <Property name="targetFilter">
          <Value>com.topcoder.search.builder.filter.InFilter</Value>
        </Property>
        <Property name="className">
          <Value>com.topcoder.search.builder.database.InFragmentBuilder</Value>
        </Property>
      </Property>
      <Property name="eighth">
        <Property name="targetFilter">
          <Value>com.topcoder.search.builder.filter.NullFilter</Value>
        </Property>
        <Property name="className">
          <Value>com.topcoder.search.builder.database.NullFragmentBuilder</Value>
        </Property>
      </Property>
      <Property name="ninth">
        <Property name="targetFilter">
          <Value>com.topcoder.search.builder.filter.GreaterThanFilter</Value>
        </Property>
        <Property name="className">
          <Value>com.topcoder.search.builder.database.RangeFragmentBuilder</Value>
        </Property>
      </Property>
      <Property name="tenth">
        <Property name="targetFilter">
          <Value>com.topcoder.search.builder.filter.GreaterThanOrEqualToFilter</Value>
        </Property>
        <Property name="className">
          <Value>com.topcoder.search.builder.database.RangeFragmentBuilder</Value>
        </Property>
      </Property>
      <Property name="eleventh">
        <Property name="targetFilter">
          <Value>com.topcoder.search.builder.filter.BetweenFilter</Value>
        </Property>
        <Property name="className">
          <Value>com.topcoder.search.builder.database.RangeFragmentBuilder</Value>
        </Property>
      </Property>
      <Property name="twelvth">
        <Property name="targetFilter">
          <Value>com.topcoder.search.builder.filter.LessThanOrEqualToFilter</Value>
        </Property>
        <Property name="className">
          <Value>com.topcoder.search.builder.database.RangeFragmentBuilder</Value>
        </Property>
      </Property>
      <Property name="thirteenth">
        <Property name="targetFilter">
          <Value>com.topcoder.search.builder.filter.LessThanFilter</Value>
        </Property>
        <Property name="className">
          <Value>com.topcoder.search.builder.database.RangeFragmentBuilder</Value>
        </Property>
      </Property>
    </Property>
  </Config>
  
  <Config name="field.validator.factory">
  </Config>
  <Config name="search.fragment.factory">
  </Config>

  <Config name="search.namespace">
    <Property name="searchStrategyFactoryNamespace">
      <Value>search.strategy.factory</Value>
    </Property>
    <Property name="fieldValidatorFactoryNamespace">
      <Value>field.validator.factory</Value>
    </Property>
    <Property name="searchBundles">
      <Property name="bundle">
        <Property name="searchableFields">
          <Property name="id">
            <Value>dummy</Value>
          </Property>
          <Property name="guid">
            <Value>dummy</Value>
          </Property>
          <Property name="category">
            <Value>dummy</Value>
          </Property>
          <Property name="content_type">
            <Value>dummy</Value>
          </Property>
          <Property name="update_time">
            <Value>dummy</Value>
          </Property>
          <Property name="content">
            <Value>dummy</Value>
          </Property>
        </Property>
        <Property name="type">
          <Value>Database</Value>
        </Property>
        <Property name="name">
          <Value>bundle</Value>
        </Property>
        <Property name="searchStrategy">
          <Property name="class">
            <Value>databaseSearchStrategy</Value>
          </Property>
        </Property>
        <Property name="context">
          <Value>SELECT * FROM message WHERE</Value>
        </Property>
      </Property>
    </Property>
  </Config>
</CMConfig>