<CMConfig>
    <Config name="com.orpheus.game.GameDataManagerImpl">
        <Property name="jndi_names">
            <Value>GameDataRemote, REmoTe</Value>
            <Value>GameDataLocal, LOCAL</Value>
        </Property>
        <Property name="new_game_poll_interval">
            <Value>1000</Value>
        </Property>
        <Property name="game_started_poll_interval">
            <Value>1000</Value>
        </Property>
        <Property name="capacity">
				<Value>1000</Value>
    </Property>
    <Property name="errorRate">
				<Value>0.5</Value>
    </Property>
    <Property name="messengerPluginNS">
				<Value>messengerPluginNS</Value>
    </Property>
    <Property name="category">
				<Value>category</Value>
    </Property>
    </Config>
</CMConfig>