<?xml version="1.0" encoding="UTF-8"?>

<beans>
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

    <!--  Configuration for entityManager -->
    <bean id="entityManagerFactory"
        class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="database" value="INFORMIX" />
            </bean>
        </property>
        <property name="persistenceUnitManager" ref="persistenceUnitManager" />
        <property name="persistenceUnitName" value="applicationPersistence" />
        <property name="jpaPropertyMap">
            <map>
                <entry key="hibernate.cache.use_query_cache" value="true"/>
                </map>
        </property>
    </bean>

    <!--  Configuration for commonOltpEntityManager -->
    <bean id="commonOltpEntityManagerFactory"
        class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="commonOltpDataSource" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="database" value="INFORMIX" />
            </bean>
        </property>
        <property name="persistenceUnitManager" ref="persistenceUnitManager" />
        <property name="persistenceUnitName" value="corporateOtlpPersistence" />
    </bean>

    <!-- Data Sources -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
        destroy-method="close">
        <property name="driverClassName" value="com.ibm.db2.jcc.DB2Driver" />
        <property name="url"
            value="jdbc:db2://HOST_NAME:PORT_NO/DB_NAME:INFORMIXSERVER=SERVER_NAME;DELIMIDENT=y;" />
        <property name="username" value="username" />
        <property name="password" value="password" />
        <property name="minIdle" value="2" />
    </bean>

    <bean id="commonOltpDataSource" class="org.apache.commons.dbcp.BasicDataSource"
        destroy-method="close">
        <property name="driverClassName" value="com.ibm.db2.jcc.DB2Driver" />
        <property name="url"
            value="jdbc:db2://HOST_NAME:PORT_NO/DB_NAME2:INFORMIXSERVER=SERVER_NAME;DELIMIDENT=y;" />
        <property name="username" value="username" />
        <property name="password" value="password" />
        <property name="minIdle" value="2" />
    </bean>

    <!--  Configuration for persistence unit manager -->
    <bean id="persistenceUnitManager"
        class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
        <property name="persistenceXmlLocations">
            <list>
                <value>classpath*:META-INF/persistence.xml</value>
                <value>classpath*:META-INF/commonOltpPersistence.xml</value>
            </list>
        </property>
        <property name="dataSources">
            <map>
                <entry key="localDataSource" value-ref="dataSource" />
                <entry key="commonOltpDataSource" value-ref="commonOltpDataSource" />
            </map>
        </property>
        <property name="defaultDataSource" ref="dataSource" />
    </bean>

    <!-- Configuration for transaction managers and annotation driven manager enable -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

    <bean id="commonOltpTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="commonOltpEntityManagerFactory" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" />
    <tx:annotation-driven transaction-manager="commonOltpTransactionManager" />

    <!-- Validators configuration -->
    <bean id="directProjectMetadataKeyValidator" 
        class="com.topcoder.direct.services.project.metadata.impl.DirectProjectMetadataValidatorImpl" >
        
        <property name="logName" value="loggerName" />      

    </bean>

    <bean id="directProjectMetadataValidator" 
        class="com.topcoder.direct.services.project.metadata.impl.DirectProjectMetadataValidatorImpl" >
        
        <property name="logName" value="loggerName" />
        <property name="validatorMapping">
            <map>               
                <!-- Example for budget - positive integer value -->
                <entry key="1" value="^0*[1-9][0-9]*$"/>                  
                <!-- Example for project svn address -->
                <entry key="2" value="^(svn\+ssh):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?$"/>                  
            </map>
        </property>

        <property name="predefinedValues">
            <map>               
                <!-- Example for choose from predefined list -->
                <entry key="4" value="true"/>                  
            </map>
        </property>
    </bean>
    
    <!-- Services configuration -->
    <bean id="directProjectMetadataService" 
        class="com.topcoder.direct.services.project.metadata.impl.DirectProjectMetadataServiceImpl" >
        
        <property name="logName" value="loggerName" />      
        <property name="directProjectMetadataValidator" ref="directProjectMetadataValidator" />
        <property name="auditActionTypeIdMap">
            <map>                               
                <entry key="create" value="1"/>
                <entry key="update" value="2"/>             
                <entry key="delete" value="3"/>
            </map>
        </property>
    </bean>
    
    <bean id="directProjectMetadataKeyService" 
        class="com.topcoder.direct.services.project.metadata.impl.DirectProjectMetadataKeyServiceImpl" >
        
        <property name="logName" value="loggerName" />      
        <property name="directProjectMetadataKeyValidator" ref="directProjectMetadataKeyValidator" />
        <property name="auditActionTypeIdMap">
            <map>                               
                <entry key="create" value="4"/>
                <entry key="update" value="5"/>             
                <entry key="delete" value="6"/>
            </map>
        </property>
    </bean>
</beans>