<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>demo_web_app</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AuthorizationServlet</display-name>
    <servlet-name>AuthorizationServlet</servlet-name>
    <servlet-class>webdemo.AuthorizationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorizationServlet</servlet-name>
    <url-pattern>/AuthorizationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentOperationServlet</display-name>
    <servlet-name>PaymentOperationServlet</servlet-name>
    <servlet-class>webdemo.PaymentOperationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentOperationServlet</servlet-name>
    <url-pattern>/PaymentOperationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorizedPaymentServlet</display-name>
    <servlet-name>AuthorizedPaymentServlet</servlet-name>
    <servlet-class>webdemo.AuthorizedPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorizedPaymentServlet</servlet-name>
    <url-pattern>/AuthorizedPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorizationReadyServlet</display-name>
    <servlet-name>AuthorizationReadyServlet</servlet-name>
    <servlet-class>webdemo.AuthorizationReadyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorizationReadyServlet</servlet-name>
    <url-pattern>/AuthorizationReadyServlet</url-pattern>
  </servlet-mapping>
</web-app>