<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">


    <bean id="loggingInterceptor" class="com.topcoder.service.interceptors.LoggingInterceptor">
        <constructor-arg index="0">
            <value>strutsLoggerName</value>
        </constructor-arg>
    </bean>

    <bean id="validationErrorsInterceptor"
        class="com.topcoder.service.actions.ValidationErrorsInterceptor">
    </bean>

    <bean id="mockActionInterceptor" class="com.topcoder.service.actions.MockActionInterceptor">
    </bean>

    <bean id="mimeTypeRetriever" class="com.topcoder.service.actions.MimeTypeRetriever">
    </bean>

    <bean id="contestServiceFacade"
        class="com.topcoder.service.actions.MockContestServiceFacade">
    </bean>

    <!-- =========================== -->
    <!-- action beans                -->
    <!-- =========================== -->

    <bean id="loginAction" class="com.topcoder.service.actions.MockLoginAction"
        scope="prototype">
        <property name="action" value="loginAction"></property>
    </bean>

    <bean id="FailureStudioOrSoftwareContestAction"
        class="com.topcoder.service.actions.failuretests.FailureStudioOrSoftwareContestAction">
        <property name="contestServiceFacade" ref="contestServiceFacade"></property>
    </bean>

    <bean id="FailureDeleteDocumentContestAction"
        class="com.topcoder.service.actions.failuretests.FailureDeleteDocumentContestAction">
        <property name="contestServiceFacade" ref="contestServiceFacade"></property>
    </bean>

    <bean id="FailureFileUploadAttachContestFileAction"
        class="com.topcoder.service.actions.failuretests.FailureFileUploadAttachContestFileAction">
        <property name="contestServiceFacade" ref="contestServiceFacade"></property>
    </bean>

    <bean id="FailurePayByCreditCardAction"
        class="com.topcoder.service.actions.failuretests.FailurePayByCreditCardAction">
        <property name="contestServiceFacade" ref="contestServiceFacade"></property>
    </bean>

    <bean id="FailurePayByBillingAccountAction"
        class="com.topcoder.service.actions.failuretests.FailurePayByBillingAccountAction">
        <property name="contestServiceFacade" ref="contestServiceFacade"></property>
    </bean>

    <bean id="FailureGetDocumentFileContestAction"
        class="com.topcoder.service.actions.failuretests.FailureGetDocumentFileContestAction">
        <property name="contestServiceFacade" ref="contestServiceFacade"></property>
    </bean>

	 <bean id="mockPayByCreditCardAction"
        class="com.topcoder.service.actions.MockPayByCreditCardAction">
        <property name="contestServiceFacade" ref="contestServiceFacade"></property>
    </bean>

    <bean id="mockPayByBillingAccountAction"
        class="com.topcoder.service.actions.MockPayByBillingAccountAction">
        <property name="contestServiceFacade" ref="contestServiceFacade"></property>
    </bean>

    <bean id="deleteDocumentContestAction"
        class="com.topcoder.service.actions.DeleteDocumentContestAction">
        <property name="contestServiceFacade" ref="contestServiceFacade"></property>
    </bean>

    <bean id="mockDeleteDocumentContestAction"
        class="com.topcoder.service.actions.MockDeleteDocumentContestAction">
        <property name="contestServiceFacade" ref="contestServiceFacade"></property>
    </bean>

    <bean id="mockGetDocumentFileContestAction"
        class="com.topcoder.service.actions.MockGetDocumentFileContestAction">
        <property name="contestServiceFacade" ref="contestServiceFacade"></property>
        <property name="mimeTypeRetriever" ref="mimeTypeRetriever"></property>
    </bean>

    <bean id="mockFileUploadAttachContestFileAction"
        class="com.topcoder.service.actions.MockFileUploadAttachContestFileAction">
        <property name="contestServiceFacade" ref="contestServiceFacade"></property>
        <property name="mimeTypeRetriever" ref="mimeTypeRetriever"></property>
    </bean>

	
    <bean id="getDocumentFileContestAction"
        class="com.topcoder.service.actions.GetDocumentFileContestAction">
        <property name="contestServiceFacade" ref="contestServiceFacade"></property>
        <property name="mimeTypeRetriever" ref="mimeTypeRetriever"></property>
    </bean>

    <bean id="fileUploadAttachContestFileAction"
        class="com.topcoder.service.actions.FileUploadAttachContestFileAction">
        <property name="contestServiceFacade" ref="contestServiceFacade"></property>
        <property name="mimeTypeRetriever" ref="mimeTypeRetriever"></property>
    </bean>

    <bean id="getContestCategoriesAction"
        class="com.topcoder.service.actions.GetContestCategoriesAction">
        <property name="contestServiceFacade" ref="contestServiceFacade"></property>
    </bean>

    <bean id="getContestTechnologiesAction"
        class="com.topcoder.service.actions.GetContestTechnologiesAction">
        <property name="contestServiceFacade" ref="contestServiceFacade"></property>
    </bean>

    <bean id="getDocumentsContestAction"
        class="com.topcoder.service.actions.GetDocumentsContestAction">
        <property name="contestServiceFacade" ref="contestServiceFacade"></property>
    </bean>

		<bean id="categoriesAction" class="com.topcoder.service.actions.GetContestCategoriesAction" />

	<bean id="technologiesAction"
		class="com.topcoder.service.actions.GetContestTechnologiesAction">
	</bean>
	<bean id="deleteDocument"
		class="com.topcoder.service.actions.DeleteDocumentContestAction">
	</bean>
	<bean id="fileUpload"
		class="com.topcoder.service.actions.FileUploadAttachContestFileAction">
	</bean>
	<bean id="documentsContest" class="com.topcoder.service.actions.GetDocumentsContestAction">
	</bean>
	<bean id="documentFileContest"
		class="com.topcoder.service.actions.GetDocumentFileContestAction">
	</bean>
	<bean id="payCreditCard" class="com.topcoder.service.actions.PayByCreditCardAction">
	</bean>
	<bean id="payByBillingAccount" class="com.topcoder.service.actions.PayByBillingAccountAction">
	</bean>

</beans>

