<?xml version="1.0" ?>
<CMConfig>
  <Config name="test.default">
    <Property name="PhasePersistence">
      <Property name="className">
        <Value>com.topcoder.management.phase.NullPhasePersistence</Value>
      </Property>
    </Property>
    <Property name="Idgenerator">
      <Property name="sequenceName">
        <Value>test</Value>
      </Property>
      <Property name="className">
        <Value>com.topcoder.management.phase.NullIdGenerator</Value>
      </Property>
    </Property>
  </Config>

  <Config name="test.bad.persistence">
    <Property name="PhasePersistence">
      <Property name="className">
        <Value>bad.class</Value>
      </Property>
    </Property>
    <Property name="Idgenerator">
      <Property name="sequenceName">
        <Value>test</Value>
      </Property>
      <Property name="className">
        <Value>com.topcoder.management.phase.NullIdGenerator</Value>
      </Property>
    </Property>
  </Config>

  <Config name="test.invalid.persistence">
    <Property name="PhasePersistence">
      <Property name="className">
        <Value>java.lang.String</Value>
      </Property>
    </Property>
    <Property name="Idgenerator">
      <Property name="sequenceName">
        <Value>test</Value>
      </Property>
      <Property name="className">
        <Value>com.topcoder.management.phase.NullIdGenerator</Value>
      </Property>
    </Property>
  </Config>

  <Config name="test.bad.validator">
    <Property name="PhasePersistence">
      <Property name="className">
        <Value>com.topcoder.management.phase.NullPhasePersistence</Value>
      </Property>
    </Property>
    <Property name="PhaseValidator">
      <Property name="className">
        <Value>bad.class</Value>
      </Property>
    </Property>
    <Property name="Idgenerator">
      <Property name="sequenceName">
        <Value>test</Value>
      </Property>
      <Property name="className">
        <Value>com.topcoder.management.phase.NullIdGenerator</Value>
      </Property>
    </Property>
  </Config>

  <Config name="test.invalid.validator">
    <Property name="PhasePersistence">
      <Property name="className">
        <Value>com.topcoder.management.phase.NullPhasePersistence</Value>
      </Property>
    </Property>
    <Property name="PhaseValidator">
      <Property name="className">
        <Value>java.lang.String</Value>
      </Property>
    </Property>
    <Property name="Idgenerator">
      <Property name="sequenceName">
        <Value>test</Value>
      </Property>
      <Property name="className">
        <Value>com.topcoder.management.phase.NullIdGenerator</Value>
      </Property>
    </Property>
  </Config>

  <Config name="test.validator">
    <Property name="PhasePersistence">
      <Property name="className">
        <Value>com.topcoder.management.phase.NullPhasePersistence</Value>
      </Property>
    </Property>
    <Property name="PhaseValidator">
      <Property name="className">
        <Value>com.topcoder.management.phase.TestValidator</Value>
      </Property>
    </Property>
    <Property name="Idgenerator">
      <Property name="sequenceName">
        <Value>test</Value>
      </Property>
      <Property name="className">
        <Value>com.topcoder.management.phase.NullIdGenerator</Value>
      </Property>
    </Property>
  </Config>

  <Config name="test.bad.generator">
    <Property name="PhasePersistence">
      <Property name="className">
        <Value>com.topcoder.management.phase.NullPhasePersistence</Value>
      </Property>
    </Property>
    <Property name="Idgenerator">
      <Property name="sequenceName">
        <Value>test</Value>
      </Property>
      <Property name="className">
        <Value>bad.class</Value>
      </Property>
    </Property>
  </Config>

  <Config name="test.invalid.generator">
    <Property name="PhasePersistence">
      <Property name="className">
        <Value>com.topcoder.management.phase.NullPhasePersistence</Value>
      </Property>
    </Property>
    <Property name="Idgenerator">
      <Property name="sequenceName">
        <Value>test</Value>
      </Property>
      <Property name="className">
        <Value>java.lang.String</Value>
      </Property>
    </Property>
  </Config>
</CMConfig>
