<?xml version="1.0" ?>
<CMConfig>
	<Config name="com.topcoder.timetracker.entry.base.ejb.EntrySessionBean">
		<Property name="of_namespace">
			<Value>com.topcoder.timetracker.entry.base.objectfactory</Value>
		</Property>
		<Property name="dao_key">
			<Value>InformixCutoffDao</Value>
		</Property>
	</Config>

	<Config name="com.topcoder.timetracker.entry.base.objectfactory">
		<Property name="dbConnectionFactory">
		      <Property name="type">
		        <Value>com.topcoder.db.connectionfactory.DBConnectionFactoryImpl</Value>
		      </Property>
		      <Property name="params">
				<Property name="param1">
					<Property name="type">
						<Value>String</Value>
					</Property>
					<Property name="value">
						<Value>com.topcoder.db.connectionfactory.DBConnectionFactoryImpl</Value>
					</Property>
				</Property>
			  </Property>
		</Property>
		<Property name="auditManager">
		      <Property name="type">
		        <Value>com.topcoder.timetracker.entry.base.stresstests.MockAuditManager</Value>
		      </Property>
		</Property>
		<Property name="InformixCutoffDao">
			<Property name="type">
				<Value>com.topcoder.timetracker.entry.base.persistence.InformixCutoffTimeDao</Value>
			</Property>
			<Property name="params">
				<Property name="param1">
					<Property name="type">
						<Value>String</Value>
					</Property>
					<Property name="value">
						<Value>informix_connect</Value>
					</Property>
				</Property>
				<Property name="param2">
					<Property name="type">
						<Value>String</Value>
					</Property>
					<Property name="value">
						<Value>cut_off_time</Value>
					</Property>
				</Property>
				<Property name="param3">
					<Property name="name">
		            	<Value>dbConnectionFactory</Value>
		          	</Property>
				</Property>
				<Property name="param4">
					<Property name="name">
		            	<Value>auditManager</Value>
		          	</Property>
				</Property>
			</Property>
		</Property>
	</Config>
	<Config name="com.topcoder.db.connectionfactory.DBConnectionFactoryImpl">
		<Property name="connections">
			<Property name="default">
				<Value>informix_connect</Value>
			</Property>
			<Property name="informix_connect">
				<Property name="producer">
					<Value>com.topcoder.db.connectionfactory.producers.JDBCConnectionProducer</Value>
				</Property>
				<Property name="parameters">
					<Property name="jdbc_driver">
						<Value>com.informix.jdbc.IfxDriver</Value>
					</Property>
					<Property name="jdbc_url">
						<Value>jdbc:informix-sqli://IBM-68C4DC40CEA:1526/dev:informixserver=tcs</Value>
					</Property>
					<Property name="user">
						<Value>informix</Value>
					</Property>
					<Property name="password">
						<Value>informix</Value>
					</Property>
				</Property>
			</Property>
		</Property>
	</Config>
</CMConfig>