<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
  version="1.0">

  <persistence-unit name="document_manager" transaction-type="JTA">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <jta-data-source>java:InformixDS</jta-data-source>
    <class>com.topcoder.service.prerequisite.document.model.DocumentVersion</class>
    <class>com.topcoder.service.prerequisite.document.model.Document</class>
    <class>com.topcoder.service.prerequisite.document.model.MemberAnswer</class>
    <class>com.topcoder.service.prerequisite.document.model.CompetitionDocument</class>
    <class>com.topcoder.service.prerequisite.document.model.DocumentName</class>
    <properties>
      <property name="hibernate.dialect" value="org.hibernate.dialect.InformixDialect" />
      <property name="hibernate.transaction.factory_class" value="org.hibernate.ejb.transaction.JoinableCMTTransactionFactory" />
      <property name="hibernate.transaction.manager_lookup_class" value="org.hibernate.transaction.JBossTransactionManagerLookup" />
      <property name="jboss.entity.manager.jndi.name" value="document_manager" />
    </properties>
  </persistence-unit>
</persistence>
